<% if user_signed_in? %>

<h1><%= @category.title %></h1>
<p><%= @category.description %></p>
<h2>Articles</h2>
<ul>
<% @category.articles.each do |article| %>
    <li>
      <%=article.id%>
      <%=link_to article.title, category_article_path(@category,article)  %>
    </li>
<% end %>
  <%= button_to "Sign out", destroy_user_session_path %>

</ul>
<% else %>
    <%= button_to "Sign in", new_user_session_path %>
<% end %>
